<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О тесте</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="main signup">
    <h1>Здравствуйте!</h1><br/>
    Спасибо, что принимаете участие в исследовании. Оно является анонимным, поэтому прошу честно отвечать на вопросы тестов.<br/><br/>
    Вам будут представлены 3 методики.<br/><br/>
    Пожалуйста, ВНИМАТЕЛЬНО прочитайте инструкцию, после чего приступайте к выполнению.<br/><br/>

    Для получения максимально точных результатов, постарайтесь отвечать на вопросы быстро, без долгих раздумий.<br/><br/>
    Зачастую первый, не совсем осознанный ответ, является верным отражением ваших подлинных чувств и мыслей.<br/><br/>
    Тестирование займет 60 – 90 минут.<br/><br/>
    Ваши результаты будут сохранены только в случае прохождения ВСЕГО тестирования одноразово.<br/><br/>
    Частичные результаты не сохраняются, поэтому при выходе из процесса тестирования, повторно все придется проходить с самого начала.<br/>
</div>

<form name="about" action="/about" method="POST" class="form">
    <button type="submit" class="submit">Начать тестирование</button>
</form>

</body>
</html>