<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Вход</title>
</head>
<body>


<form method="post" class="form">
    <ul>
        <li><h1>Форма входа</h1></li>
        <li>
            <input type="email" name="username" placeholder="email">
        </li>
        <li>
            <input type="password" name="password" placeholder="Пароль">
        </li>
        <li>
            <button type="submit" class="submit">Войти</button>
        </li>
    </ul>
</form>
<h2><a href="/signup">Зарегистрироваться</a></h2>

</body>
</html>