<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Регистрация</title>
</head>
<body>
<div class="main signup">
    <form method="post" class="form">
        <ul>
            <li><h1>Форма регистрации</h1></li>
            <li>
                <input type="email" name="username" placeholder="email">
            </li>
            <li>
                <input type="password" name="password" placeholder="Пароль"><br>
            </li>
            <li>
                <button type="submit" class="submit">Зарегистрироваться</button>
            </li>
        </ul>
    </form>
</div>
</body>
</html>